#Nombre {
  font-family: monospace;
  font-size: 3lh;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; /* cursor parpadeante */
  width: 0;
  animation: escribir 3s steps(22) 1s forwards, parpadeo 0.75s step-end infinite;
}

@media (max-width: 600px){
    #Nombre {
    font-family: monospace;
    font-size: 27px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; /* cursor parpadeante */
    width: 0;
    animation: escribir 3s steps(22) 1s forwards, parpadeo 0.75s step-end infinite;
    }
}

/* Animación de escritura */
@keyframes escribir {
  from { width: 0; }
  to { width: 17ch; } /* cambia según la cantidad de caracteres */
}

/* Animación del cursor */
@keyframes parpadeo {
  50% { border-color: transparent; }
}
